* {
    color: #fff;
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    background: #0F0F0F;
}

#app {
    background: #0F0F0F;
}

.sidebar {
    padding: 0;
    margin: 0;
    width: 80px;
    height: 100vh;
    flex: 0 0 90px;
    background: #1B1C1E;
}

.brand {
    margin-bottom: 14px;
    padding: 22px;
    display: block;
    text-align: center;
    background: #3AC1E6;
    font-size: 1.2rem;
}

.navigation {
    padding: 0;
    margin: 0;
    align-items: center;
}

.navigation a {
    color: #fff;
    margin: 25px auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #2D343E;
    font-size: 1.1rem;
    align-items: center;
    justify-content: center;
    display: flex;
    text-decoration: none;
    transition: border, color, background .4s ease;
}


.navigation a.active,
.navigation a:hover {
    color: #fff;
    border-radius: 8px;
    background: #3AC1E6;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: border, color, background .4s ease;
}

.header {
    width: 100%;
    height: 66px;
    border-bottom: 1px solid #222;
    display: flex;
}

.header section {
    padding: 6px 10px;
    flex-grow: 1;
}

.header .search {
    border-right: 1px solid #222;
}

.header .actions {
    width: 400px;
    flex: 0 0 400px;
    border-right: 1px solid #222;
}

.header .account {
    width: 400px;
    flex: 0 0 400px;
    display: flex;
}

.header .account div {
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.header .account .account-avatar {
    width: 70px;
    flex: 0 0 70px;
    text-align: center;
}

.header .account .account-avatar img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.header .account .account-user {
    width: 150px;
    flex: 0 0 150px;
}

.header .account .account-menu {
    padding: 13px;
    width: 40px;
    flex: 0 0 40px;
}

main.main {
    position: relative;
    max-width: 94.98vw;
    flex: 0 0 94.98vw;
}

main.main .container {
    width: 80%;
}

main.main .header-page {
    padding: 0;
    margin: 30px auto 0 auto;
    width: 92.7%;
    display: flex;
    background: transparent;
}

table {
    border: none;
    text-align: center;
    border-collapse: collapse;
}

table thead th {
    border: none;
    color: #5B5B5B;
    padding: 10px;
}

table tbody td {
    border: none;
    padding: 16px;
}

table tbody tr {
    border: none;
    background: transparent;
    transition: background 0.6s ease;
}

table tbody tr:hover {
    border-color: #e84393;
    background: #e84393;
    transition: background 0.6s ease;
}

.status-success i {
    color: #16a085;
}

.status-warning i {
    color: #f39c12;
}

.status-danger i {
    color: #c0392b;
}

.status-unknow i {
    color: #ffffff;
}

.big-number {
    margin-top: 5vh;
    margin-bottom: 3vh;
    text-align: center;
    font-size: 4rem !important;
}
